body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}


/* show the move cursor as the user moves the mouse over the panel header.*/
#draggablePanelList .panel-heading {
	cursor: move;
}
